<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96104657496-ssk6sc7rhjfkrm0g4jbe81scbo5v5pep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96104657496-ssk6sc7rhjfkrm0g4jbe81scbo5v5pep</string>
	<key>API_KEY</key>
	<string>AIzaSyDhwvHFPIrNQ0b0WP6ZRgmSCZntbGfwrYg</string>
	<key>GCM_SENDER_ID</key>
	<string>96104657496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaydelen.loodos</string>
	<key>PROJECT_ID</key>
	<string>loodos-67832</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-67832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96104657496:ios:de569ee8f820c8f745902d</string>
	<key>DATABASE_URL</key>
	<string>https://loodos-67832.firebaseio.com</string>
</dict>
</plist>